{{>layout/header}}


<div class="col-md-12">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>아이디</th>
            <th>이메일</th>
        </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</a></td>
            </tr>
        </tbody>
    </table>
</div>

{{>layout/footer}}